$dark: #2b3749;
$silver: #d1d7de;
$pale-grey-two: #f6f8f9;
$twilight-blue: #0d4d70;
$nice-blue: #1579b0;
$sky-blue: #56c3ff;
$seafoam-blue: #4ecdc4;
$lavender-pink: #c98fe0;
$light-mustard: #f5d76e;
$faded-red: #d24d57;
$light-burgundy: #a23672;
$cherry: #d80736;
$flat-blue: #387aac;
$tealish: #25c6be;
$blue-with-a-hint-of-purple: #4433b0;
$soft-blue: #6198de;
$dark-pink: #b42c6c;
$liliac: #bc90ff;
$dark-slate-blue: #20395e;
$dusk: #465a77;
$watermelon: #f74c62;
$light-teal: #7de4b1;
$maize: #f4d35d;
$sky-blue-two: #52bcff;
$bluey-grey: #8493a8;
$azure: #1ca5f0;
$black-62: rgba(0, 0, 0, 0.62);

$topBarHeight: 48px;
$channelsPanelWidth: 56px;
$channelRowHeight: 84px;